
<div>
<p> Cliquez ici pour voir le profil de: <a href="/author/<% @gossip.user_id %>"> <%=@gossip.user.first_name %> </a> , l'auteur du potin:  </p>
</div>

<%= "#{@gossip.title}" %> 

<%= "#{@gossip.content}" %>

<%= " crée le #{@gossip.created_at}" %>




