
<h1>Welcome <%=params[:user_entry]%>, Comment trouves-tu l'incroyable design de notre site de potins? </h1>


<! Attention à bien penser à mettre les balises pour utiliser des variables ruby dans du html>

